*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score_board{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user_score, #comp_score{
    font-size: 4rem;
}
.msgbox{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
#msg{
    text-align: center;
    color: white;
    background-color: #081b31;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.computer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
#comp{
    text-align: center;
    color: white;
    background-color: #081b31;
    font-size: 1.2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}